<div class="large-4 small-4 columns">
  <%= image_tag m.image.thumb.to_s %>
  <div class="menu-title"><%= m.name %></div>
  <div class="panel">
    <p class="menu-price"><%= m.price %> €</p>
  </div>
</div>
