<div class="large-4 columns small-centered">
  <%= image_tag 'index_img.png' %>
</div>
<div class="large-12 columns">
  <div id="presentation">
    <h3><b>BIENVENU CHEZ SUSHI PARTY</b></h1>
    <p>Sushi Party met un point d’honneur à vous servir à tout moment de la journée des produits frais et de la qualité.
    C’est pour cela que notre poisson est rigoureusement sélectionné et livré tous les jours par poissonnerie Lachenal,
    et nous préparons chaque menu à la commande..
    </p>
    <p>Le concepte de Sushi Party est toujours la même chose, c’est pour vous proposer nouvelles tendances de temps en
    temps et également pour vous decouvrir des sushis originaux de nous-même.</p>
  </div>
</div>
