<div class="large-12 columns">
<% @menus.each_with_index do |m, i| %>
  <% if (i+1) % 3 == 1 %>
    <div class="row">
  <% end %>

    <%= partial 'pages/menu', :locals => { :m => m } %>

  <% if (i+1) % 3 == 0 %>
    </div>
  <% end %>
<% end %>
</div>

<div class="small-4 push-8 columns"><%= will_paginate @menus %></div>
